@tailwind base;
@tailwind components;
@tailwind utilities;

.highlight {
    @apply text-secondary;
    position: relative;
 }
 
 .highlight::after {
     content: "";
     position: absolute;
     top: 0.25rem;
     right: 0.25rem;
     width: 0.5rem;
     height: 0.5rem;
     border-radius: 50%;
     @apply bg-primary
   }

.custom-tile {
    color: black !important;
    background-color: white !important;
}